.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0px;
    font-size: 0.75rem;
    line-height: 14px;
    font-weight: 300;
    padding-left: 17px;
    }
    .top-spaced{
    margin-top: 10px;
    }
    .margined-left{
    margin-left: 12px;
    }
    .modal {
    overflow-y:auto;
    }
    
    table {
    border-collapse: collapse;
    table-layout: fixed;
    }

    
    @media screen and (max-width: 1080px) {
       .div2{
          width: 100%; border: none 0px RED;
       overflow-x: scroll; overflow-y:hidden;
       }
       table td {        
       word-wrap: none;
       width: 50px;
       height: 70px;
       }
       table th {        
       word-wrap: none;
       width: 50px;
       }
    }
    .control-label{
       margin-top: 10px;
    }

    .vista_previa_plantilla{         
       border: 1px solid #dee2e6;
       margin-top: 15px;
       width: 96%;
       margin-left: 2%;
       margin-right: 2%;
       background: #dee2e6;
    }
 
    .modal-ku {
       width: 750px;
       margin: auto;
    }

    .resumido {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
       width: 50%;
       margin: auto;
    }

 .resumido:hover {
    text-overflow: initial;
    white-space: initial;
    overflow: visible;
    cursor: pointer;
 }

 .tablaFixed td{
    word-wrap: none;
    width: 50px;
    white-space: normal;
 }


 #tinymce, #propuesta_documento{
   font-family: 'roboto', sans-serif!important;
   font-size: 14px;
 }
 #tinymce td,  #tinymce th,  #propuesta_documento td,  #propuesta_documento th  {
   font-size: 14px;
   padding: 10px;
   background-color: #fff;
}


#tinymce td.table_cell_highlight, #propuesta_documento td.table_cell_highlight{

    background:#f2f2f2;
}

#tinymce table.table_highlight_expand, #propuesta_documento table.table_highlight_expand{
width: 100%!important;    
    background:#f2f2f2;
    border-bottom: 2px solid #4a4a4abd;
}

#tinymce table.table_highlight_expand td:nth-child(1), #propuesta_documento table.table_highlight_expand td:nth-child(1){
   min-width:200px;
   background:#f2f2f2;
}


#propuesta_documento table{
    width: 100%;
    max-width:100%!important;
}
#propuesta_documento table td{
    padding:5px;
}

#tabla_propuesta_table th {
   background: #4a4a4abd;
   font-size: 13px;
color:#fff;

}

#discountRow {
   margin-top: 30px;
}
#discountRow th {
   background: #4a4a4abd;
}
#tabla_propuesta_table td {
   font-size: 13px!important;
   line-height: 20px;
   padding: 5px 8px!important;
}

#tabla_propuesta_table td:nth-child(6), #tabla_propuesta_table td:nth-child(5), #tabla_propuesta_table td:nth-child(4){
  
   text-align: right;
}

#propuesta_documento em {
   font-style: normal;
}

